* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;

  display: flex;
  flex-direction: column;
  align-items: center;

  --color-primary: #883dff;
  --color-secondary: #ababb7;
}

header {
  background: linear-gradient(to bottom right, var(--color-primary), #b55bf5);
  color: white;
  font-size: 2.5rem;
  height: 20%;
  padding: 75px 50px;

  display: flex;
  flex-direction: column;
}

.logo {
  font-family: 'Pacifico', cursive;

  display: flex;
  gap: 5px;
}

.logo img {
  height: 4rem;
  width: auto;
  filter: invert(1);
}

section {
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section > div {
  text-align: center;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 25px;
  color: var(--color-primary);
}

h2 {
  font-weight: 500;
  margin-bottom: 30px;
}

form {
  width: 100%;
  padding: 20px;
  font-size: .875rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
  gap: 40px 40px;
}

.form-row {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
}

button {
  background-color: var(--color-primary);
  color: white;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 30px;
  padding: 16px 68px;
  width: auto;
  margin-inline: auto;
  margin-top: 30px;
  transition: background-color, 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: #6e30cc;
}

button:active {
  border-color: #40177f;
}

/* medium screens */
@media only screen and (min-width: 769px) {
  body {
    flex-direction: row;
    align-items: stretch;
  }

  header,
  section {
    min-height: 100vh;
  }

  header {
    flex: 1 1 500px;
    height: auto;
  }

  section {
    margin-top: 8vh;
  }
}

/* large screens */
@media only screen and (min-width: 1200px) {
  header {
    flex: 1 0 500px;
  }

  form {
    max-width: 755px;
  }
}