* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  --color-primary: #22aa92;
}

header {
  background-color: var(--color-primary);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

form {
  margin: auto;
  width: 100%;
  max-width: 400px;

  display: grid;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-direction: column;
}

button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
}

@media only screen and (min-width: 725px) {
  body {
    flex-direction: row;
    align-items: stretch;
  }

  header {
    flex-basis: 60%;
  }

  form {
    grid-template-columns: repeat(2, auto);
  }
}